.content-container {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-menu {
    margin: 0px;
}

p.uptodate {
    padding-left: 20px;
    font-weight: bold;
    color: green;
}

p.login {
    float: right;
}

.form_error {
    font-color: red;
}

table.form_table {
    border-spacing: 7px;
    border-collapse: separate;
}

td.form_error {
    color: red;
}

table th {
    text-align: center;
}

.btn-primary:hover, .dropdown-item:hover {
    background-color: red;
    color: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}
