.content-container {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-menu {
    margin: 0px;
}

p.uptodate {
    padding-left: 20px;
    font-weight: bold;
    color: green;
}

p.pending {
    padding-left: 20px;
    font-weight: bold;
    color: red;
}

p.pending a {
    color: red;
    text-decoration: underline;
}

p.login {
    float: right;
}

table.form_table {
    border-spacing: 7px;
    border-collapse: separate;
}

p.error, td.form_error {
    color: red;
    text-align: center;
}

.second_menu_row {
    display: block;
    float: right;
}

.second_menu_row a {
    background-color: red;
    border: none;
}

.btn-secondary {
    padding-top: 0.1rem;
    pading-right: 0.3rem;
    padding-left: 0.3rem;
    padding-bottom: 0.1rem;
}

.btn-secondary:hover {
    background-color: #007bff;
}

h3.companyname {
    color: white;
}

.currentuser {
    float: right;
}

table th {
    text-align: center;
}
.centertable{
    text-align: center;
}
.centertable td{
    text-align: center;
    vertical-align: middle;
}

.btn-primary:hover, .dropdown-item:hover {
    background-color: red;
    color: white;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.approve_button{
    background-color: springgreen;
}
.deny_button{
    background-color: lightsalmon;
}
.edit_button{
    background-color: #ffc107;
    font-size: 23px;
    padding: 1px 9px 1px  9px
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.car-grid {
    border-radius: 20px 20px 20px 20px;
}

.navbar-radius {
    border-radius: 10px 10px 10px 10px;
}

.cargrid-icon-check {
    font-size: 2.0em;
    color: green;
}

.cargrid-icon-overdue {
    font-size: 2.2em;
    color: red;
}

.cargrid-icon-upcoming {
    font-size: 2em;
    color: darkorange;
}

.add-icon {
    font-size: 1.3em;
}

.button-left{
    float: left;
    padding-right: 15px;
}

.newstitle {
    font-size: 1.0em;
    color: red;
}