.content-container {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.dropdown-menu {
    margin: 0px;
}

p.uptodate {
    padding-left: 20px;
    font-weight: bold;
    color: green;
}

p.pending {
    padding-left: 20px;
    font-weight: bold;
    color: red;
}

p.pending a {
    /*color: red;*/
    /*text-decoration: underline;*/
}

p.login {
    float: right;
}

p.flashes_success {
    color: green;
    text-align: center;
}

table.form_table {
    border-spacing: 7px;
    border-collapse: separate;
}

p.error, td.form_error {
    color: red;
    text-align: center;
}

.second_menu_row {
    display: block;
    float: right;
}

.second_menu_row a {
    /*background-color: red;*/
    border: none;
}

.btn-secondary {
    padding-top: 0.1rem;
    pading-right: 0.3rem;
    padding-left: 0.3rem;
    padding-bottom: 0.1rem;
}

.btn-secondary:hover {
    background-color: #007bff;
}

table th {
    text-align: center;
}
.centertable{
    text-align: center;
}
.centertable td{
    text-align: center;
    vertical-align: middle;
}

.btn-primary:hover, .dropdown-item:hover {
    /*background-color: red;*/
    /*color: white;*/
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.jqx-layout-group-auto-hide-content-vertical
{
    width: 200px;
}

.approve_button{
    background-color: springgreen;
}
.deny_button{
    background-color: lightsalmon;
}