<div class="container">
        {% if current_user.is_authenticated %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-radius">

                <a class="navbar-brand text-large text-light mr-5">Láníček Transport s.r.o.</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">

                        <li class="nav-item active">
                            {% if current_user.role == 'user'%}
                                <a class="nav-link" href="{{ url_for('dashboard-empl') }}">Nástěnka</a>
                            {% else %}
                                <a class="nav-link" href="{{ url_for('dashboard-boss') }}">Nástěnka</a>
                            {% endif %}
                        </li>

                     {% if current_user.role == 'boss' or current_user.role == 'admin' %}
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                    Zaměstnanci
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!--<div class="dropdown-header">Zaměstnanci</div>-->
                                    <a class="dropdown-item" href="{{ url_for('employees') }}">Přehled zaměstnanců</a>
                                    <!--<a class="dropdown-item" href="#">Lékařské prohlídky</a>-->
                                    <!--<a class="dropdown-item" href="#">Pracovní smlouvy</a>-->
                                    <a class="dropdown-item" href="{{ url_for('vacations')  }}">Dovolená</a>
                                    <!--<a class="dropdown-item" href="#">Úložiště dokumentů</a>-->
                                </div>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                    Evidence činností
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!--<div class="dropdown-header">Evidence činností</div>-->
                                    <a class="dropdown-item" href="{{ url_for('activities')  }}">Přehled aktivit</a>
                                    <!--<a class="dropdown-item" href="#">Docházka</a>-->

                                </div>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                  data-toggle="dropdown"
                                  aria-haspopup="true" aria-expanded="false">
                                    Vozový park
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!--<div class="dropdown-header">Vozový park</div>-->
                                    <a class="dropdown-item" href="{{  url_for('car-profiles')  }}">Karty vozidel</a>
                                    <a class="dropdown-item" href="{{  url_for('cars')  }}">Technické údaje</a>
                                    <a class="dropdown-item" href="{{  url_for('car-service-diary', car_id=0)  }}">Servisní deník</a>
                                    <!--<a class="dropdown-item" href="#">Úložiště dokumentů</a>-->
                                </div>
                            </li>
                            {% if current_user.role == 'admin'%}
                                <li class="nav-item active dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                      data-toggle="dropdown"
                                      aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>

                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{{ url_for('users') }}">Správa uživatelů</a>
                                        </div>
                                </li>
                            {%endif%}
                    <!------------------------ CURRENT ROLE IS ZAMESTNANEC ------------------------>
                    {% else %}
                          <li class="nav-item active"><a class="nav-link" href="{{ url_for('employeeprofile', id_zam=current_user.id_zam) }}">Můj profil</a> </li>
                          <li class="nav-item active"><a class="nav-link" href="{{ url_for('my_vacation', id=current_user.id_zam) }}">Plánovaná dovolená</a></li>
                          <li class="nav-item active"><a class="nav-link" href="{{ url_for('activities-my', id=current_user.id_zam) }}">Moje aktivity</a></li>
                    {% endif %}


                    </ul>
                    <form class="form-inline my-2 my-lg-0" action="{{ url_for('logout') }}">
                      <button class="btn btn-secondary my-0 my-sm-0" type="submit"><i class="fas fa-user pr-2"></i>{{ current_user.login }}<i class="fas fa-sign-out-alt pl-2"></i></button>
                    </form>
            </nav>
        {% endif %}
    </div>