{% macro render_field(field,form) %}
  <tr>
    {% if ((field == form.submit) or (field == form.csrf_token)) %}
        <td>&nbsp;</td>
        <td>{{ field(**kwargs)|safe }}</td>
    {% else %}
        <td>{{ field.label }}</td>
        {% if field.type == 'SelectField' %}
            <td>{{ field(size=3,**kwargs)|safe }}</td>
        {% else %}
            <td>{{ field(size=30,**kwargs)|safe }}</td>
        {% endif %}
    {% endif %}
    {% if field.errors %}
        {% for error in field.errors %}
            <td class="form_error">{{ error }}</td>
        {% endfor %}
  {% endif %}
  </tr>
{% endmacro %}