{% extends 'base/base.html' %}
{% from "base/_formhelpers.html" import render_field %}
{% from "base/_navhelpers.html" import render_bodytopnav_specific %}
<!-- input form, activity -->
{% block title %}Upravit aktivitu{% endblock %}

{% block bodytopnav %} {{ render_bodytopnav_specific('activities-my',"Zpět na moje aktivity") }} {% endblock %}
{% block heading %}<h3>Úprava aktivity</h3>{% endblock %}
{% block body %}


     <form method="POST" action="{{ url_for('activity-edit') }}">
                    <input type="hidden" name="id" value="{{ activity.id_activity }}">

        {{ form.csrf_token }}
        <table class="form_table">
            {% for field in form %}
                {{ render_field(field,form) }}
            {% endfor %}
        </table>
    </form>

{% endblock %}