{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
{% from "base/_navhelpers.html" import render_back_to_dashboard %}

<!-- input: empl, all, cars, date-->
{% block title %}Evidence aktivit{% endblock %}
{% block heading %}<i class="fas fa-clipboard-list pr-3"></i>Evidence aktivit{% endblock %}
{% block bodytopnav %}{{ render_back_to_dashboard(current_user) }}
{% endblock %}
{% block body %}
        {% set glob={} %}
    {% set _ = glob.update({'kschvaleni':False}) %}
    {% set _ = glob.update({'schvalene':False}) %}
    {% set _ = glob.update({'historie':False}) %}
    {% if all %}

        {% for act in all %}
            {% if act.approved == False and act.seen == False%}
                {% set _ = glob.update({'kschvaleni':True}) %}
            {% endif %}
            {% if act.approved == True and date < act.end  %}
                {% set _ = glob.update({'schvalene':True}) %}
            {% endif %}
            {% if act.approved == True and (date - act.end).days < 30 and date > act.end %}
                {%set historie=True%}
                {% set _ = glob.update({'historie':True}) %}
            {% endif %}
        {% endfor %}
    {% endif %}


    <span class="newstitle"><h4><i class="fas fa-bell pr-3"></i>Ke schválení</h4></span>
    {%  if glob['kschvaleni'] %}
        <table class="centertable table table-hover table-sm center">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Typ</th>
                <th>Vozidlo</th>
                <th>Odměna v Kč</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p class = "pb-4 pt-3 ">Neevidujeme žádné žádosti ke schválení.</pclass>
    {% endif %}
    {% for one in all %}
        {% if one.approved == False and one.seen == False %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == one.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}
            <td>{{one.begin.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.end.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.type}}</td>
            <td>{% for car in cars %}
                    {% if car.id_voz == one.id_voz %}
                        {{ car.znacka }} {{ car.model }}
                    {% endif %}
                {% endfor %}</td>
        <td>
              <form method="POST" action="{{ url_for('activity-edit-payoff') }}">
                {% if form.payoff.errors %}
                    <div class="form-group  required has-error">
                    {{ form.payoff(id="payoff",required='required',type="number ",value=one.payoff) }}
                    {% for error in form.payoff.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group  required">
                    {{ form.payoff(id="payoff",required='required',type="number",value=one.payoff) }}
                    </div>
                {% endif %}
              </td>
            <td>
                <input type="hidden" name="id" value="{{one.id_activity }}">
                  <input type="submit" value=&#9745; class="btn approve_button"  data-toggle="tooltip" data-html="true" title="Potvrdit">
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('activity-decline', id=one.id_activity)}}">
                  <input type="submit" value=&#9746; class="btn deny_button" data-toggle="tooltip" data-html="true" title="Zamítnout">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}


    <h4><i class="fas fa-clipboard-check pr-3 pt-3"></i>Již schválené</h4>
    {%  if glob['schvalene'] %}
        <table class="centertable table table-hover table-sm center">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Typ</th>
                <th>Vozidlo</th>
                <th>Odměna</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p class="pb-4 pt-3" >Neevidujeme žádné již schválené aktivity.</p>
    {% endif %}
    {% for one in all %}
        {% if one.approved == True and date < one.end %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == one.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}
            <td>{{one.begin.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.end.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.type}}</td>
            <td>{% for car in cars %}
                    {% if car.id_voz == one.id_voz %}
                        {{ car.znacka }} {{ car.model }}
                    {% endif %}
            {% endfor %}</td>
            <td>
                {{one.payoff}} Kč
            </td>
            <td>
                <div data-toggle="tooltip" data-html="true" title="Editovat">
                    <button type="button" class="btn edit_button" data-toggle="modal" data-target="#myEditModal{{ one.id_activity }}">&#x270D;
                    </button>
                </div>

                <!-- Modalne okno -->
                <div class="modal fade" id="myEditModal{{ one.id_activity }}" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal kontent-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                         <form method="POST" action="{{ url_for('activity-edit-payoff') }}">
                            <div class="modal-body">
                                Změňte výši odměny:
                                    {% if form.payoff.errors %}
                                        <div class="form-group  required has-error">
                                            {{ form.payoff(id="payoff",required='required',type="number",value=one.payoff) }}
                                            {% for error in form.payoff.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="form-group  required">
                                            {{ form.payoff(id="payoff",required='required',type="number",value=one.payoff) }}
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="id" value="{{ one.id_activity }}">
                                <input type="submit" value=&#9745; class="btn approve_button" data-toggle="tooltip"
                                       data-html="true" title="Potvrdit">

                            </div>
                             </form>
                        </div>
                    </div>

                </div>
            </td>
            <td>
                <form method="POST" action="{{ url_for('activity-decline', id=one.id_activity)}}">
                  <input type="submit" value=&#9746; class="btn deny_button"  data-toggle="tooltip" data-html="true" title="Zamítnout">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}




    <h4><i class="fas fa-history pr-3 pt-3"></i>Historie 30 dní</h4>
    {%  if glob['historie']  %}
        <table class="centertable table table-hover table-sm center">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Typ</th>
                <th>Vozidlo</th>
                <th>Odmena</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p class="pb-4 pt-3" >Neevidujeme žádnou historii.</p>
    {% endif %}
    {% for one in all %}
        {% if one.approved == True and (date - one.end).days < 30 and date > one.end%}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == one.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}
            <td>{{one.begin.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.end.strftime('%d/%m/%Y %H:%M')}}</td>
            <td>{{one.type}}</td>
            <td>{% for car in cars %}
                    {% if car.id_voz == one.id_voz %}
                        {{ car.znacka }} {{ car.model }}
                    {% endif %}
                {% endfor %}</td>
            <td>{{ one.payoff }} Kč </td>
            <td>

                <div data-toggle="tooltip" data-html="true" title="Editovat">
                    <button type="button" class="btn edit_button" data-toggle="modal" data-target="#myModal">&#x270D;
                    </button>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                Editace odměny:
                                <form method="POST" action="{{ url_for('activity-edit-payoff') }}">
                                    {% if form.payoff.errors %}
                                        <div class="form-group  required has-error">
                                            {{ form.payoff(id="payoff",required='required',type="number",value=one.payoff) }}
                                            {% for error in form.payoff.errors %}
                                                <p class="help-block">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="form-group  required">
                                            {{ form.payoff(id="payoff",required='required',type="number",value=one.payoff) }}
                                        </div>
                                    {% endif %}
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="id" value="{{ one.id_activity }}">
                                <input type="submit" value=&#9745; class="btn approve_button" data-toggle="tooltip"
                                       data-html="true" title="Potvrdit">
                                </form>
                            </div>


                        </div>
                    </div>

                </div>
            </td>
            <td>
                <form method="POST" action="{{ url_for('activity-decline', id=one.id_activity)}}">
                  <input type="submit" value=&#9746; class="btn deny_button"  data-toggle="tooltip" data-html="true" title="Zamítnout">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}




{% endblock %}