{% extends "base.html" %}

{% block app_content %}
    <!--
    {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                    <p class="flashes_success">{{ message }}</p>
                {% endfor %}
              {% endif %}
            {% endwith %}-->
    <h3>Vítej, {{ current_user.login }}!</h3>
    <br>
    {% if current_user.role == 'admin' or current_user.role == 'boss' %}
        <h4>Aktivity ke schválení:</h4>
        {% if act %}
        {% else %}
            <p class="uptodate">Nenašli jsme žádné aktivity vyžadující Vaše schválení.</p>
        {% endif %}
        <h4>Dovolená ke schválení:</h4>
        {% if vac %}
        {% else %}
            <p class="uptodate">Nenašli jsme žádné žádosti o dovolenou vyžadující Vaše schválení.</p>
        {% endif %}
    {% endif %}
    <h4>Upozornění:</h4>
    {% if notif %}
    {% else %}
        <p class="uptodate">Nenašli jsme žádné skutečnosti hodné Vaší pozornosti.</p>
    {% endif %}
{% endblock %}
