{% extends "base.html" %}

{% block app_content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for cat, message in messages %}
             <div class="alert alert-dismissible {{ cat }}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message | safe  }}
             </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <h3>Vítej, {{ current_user.login }}!</h3>
    <br>
    {% if current_user.role == 'admin' or current_user.role == 'boss' %}
        <h4>Aktivity ke schválení:</h4>
        {% if act %}
        {% else %}
            <p class="uptodate">Nenašli jsme žádné aktivity vyžadující Vaše schválení.</p>
        {% endif %}
        <h4>Dovolená ke schválení:</h4>
        {% if vac %}
            <p class="pending">Evidujeme nevyřízené <a href="{{ url_for('show_all', entity='dovolena_zaznam') }}">>> žádosti o dovolenou <<</a>!</p>
        {% else %}
            <p class="uptodate">Nenašli jsme žádné žádosti o dovolenou vyžadující Vaše schválení.</p>
        {% endif %}
    {% endif %}
    <h4>Upozornění:</h4>
    {% if notif %}
    {% else %}
        <p class="uptodate">Žádné důležité novinky.</p>
    {% endif %}
{% endblock %}
