{% extends "base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% block app_content %}
    <h3>Přidat vozidlo</h3>
        <a href="{{ url_for('show_all', entity='vozidla') }}"><< Zpět na přehled vozidel</a>
    <br><br>

    {% if action=='Přidat vozidlo'%}
    <form method="POST" action="{{ url_for('pridat',entity='vozidla') }}">
    {% else %}
    <form method="POST" action="{{ url_for('upravit',entity='vozidla', id=object.spz) }}">
    {% endif %}
        {{ form.csrf_token }}
        <table class="form_table">
        {% for field in form %}
                {{ render_field(field,form) }}
        {% endfor %}
        </table>
    </form>
{% endblock %}