{% extends 'base/base.html' %}
{% from "base/_navhelpers.html" import render_bodytopnav_specific %}

{% block title %}Servisní deník{% endblock %}
{% block heading %}<i class="fas fa-tools pr-3"></i>Servisní deník{% endblock %}
{% block body %}
        <div class="row">
            <div class="col-12">
                <form class="form-inline my-2 my-lg-0 pb-4 pt-3" action="{{ url_for('car-profiles') }}">
                  <button class="btn btn-primary my-0 my-sm-0" type="submit">Zpět na karty vozidel</button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-11">
                <form class="form-inline my-2 my-lg-0 pb-4 pt-3" method="POST" action="{{ url_for('car-service-diary-change') }}">
                    {{ selector.csrf_token }}
                    {{ selector.cars(class="form-control") }}
                    <button class="btn btn-secondary my-0 my-sm-0 ml-3" type="submit">Přejít na vozidlo</button>
                </form>
            </div>
            <div class="col-1 text-lg-right">
                <form class="form-inline my-2 my-lg-0 pb-4 pt-3" method="GET" action="{{ url_for('car-service-add',car_id=car.id_voz) }}">
                    <button class="btn btn-primary my-0 my-sm-0" type="submit"><span class="add-icon"><i class="fas fa-plus" aria-hidden="true"></i></span></button>
                </form>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover table-sm text-center">
                <thead class="thead-light">
                <tr>
                    <th>Datum</th>
                    <th>Úkon</th>
                    <th>Detailní popis</th>
                    <th>Stav tachometru</th>
                    <th>Provedl</th>
                    <th>Číslo faktury</th>
                    <th colspan="2">Akce</th>
                </tr>
                </thead>
                 {% for service in service_history %}
                    <tr>
                        <td>{{ service.date.strftime("%d. %m. %Y") }}</td>
                        <td>{{ service.short_desc }}</td>
                        <td>{{ service.long_desc }}</td>
                        <td>{{ service.mileage }} km</td>
                        <td>{{ service.mechanic }}</td>
                        <td>{{ service.receipt_no }}</td>
                        <td>
                            <form method="GET" action="{{ url_for('car-service-mod', car_id=car.id_voz, service_id=service.id) }}">
                              <input type="submit" value="Detail">
                            </form>
                        </td>
                        <td>
                            <form method="GET" action="{{ url_for('car-service-del', car_id=car.id_voz, service_id=service.id) }}">
                                <input type="submit" value="Smazat">
                            </form>
                        </td>
                    </tr>
                 {% endfor %}
            </table>
        </div>
{% endblock %}

