{% extends 'base/base.html' %}
{% from "base/_formhelpers.html" import render_field  %}

{% block title %}Vozidla{% endblock %}

{% block body %}
    {% if car %}
        <h3>Úprava vozidla: {{ car.spz }}</h3>
    {% else %}
        <h3>Přidat vozidlo</h3>
    {% endif %}

    <form class="form-inline my-2 my-lg-0 pb-4 pt-3" action="{{ url_for('cars') }}">
      <button class="btn btn-primary my-0 my-sm-0" type="submit">Zpět na přehled vozidel</button>
    </form>

    {% if car %}
        <form method="POST" action="{{ url_for('car-mod') }}">
        <input type="hidden" name="id" value="{{ car.id_voz }}">
    {% else %}
        <form method="POST" action="{{ url_for('car-add') }}">
    {% endif %}
        {{ form.csrf_token }}
        <table class="form_table">
        {% for field in form %}
                {{ render_field(field,form) }}
        {% endfor %}
        </table>
    </form>
{% endblock %}