{% extends 'base/base.html' %}
{% from "base/_formhelpers.html" import render_field  %}
{% from "base/_navhelpers.html" import render_bodytopnav_specific %}

{% block title %}Vozidla{% endblock %}

{% block heading %}
    {% if car %}
        <h3><i class="fas fa-car pr-3"></i>Úprava vozidla: {{ car.spz }}</h3>
    {% else %}
        <h3><i class="fas fa-car pr-3"></i>Přidat vozidlo</h3>
    {% endif %}
{% endblock %}
{% block bodytopnav %} {{ render_bodytopnav_specific('car-profiles',"Zpět na karty vozidel") }} {% endblock %}
{% block body %}

    {% if car %}
        <form method="POST" action="{{ url_for('car-mod') }}">
        <input type="hidden" name="id" value="{{ car.id_voz }}">
    {% else %}
        <form method="POST" action="{{ url_for('car-add') }}">
    {% endif %}
        {{ form.csrf_token }}
        <table class="form_table">
        {% for field in form %}
                {{ render_field(field,form) }}
        {% endfor %}
        </table>
    </form>
{% endblock %}