{% extends 'base/base.html' %}

{% block title %}Vozidla{% endblock %}
{% block body %}
    <h3>Vozidla v evidenci</h3>
    <form class="form-inline my-2 my-lg-0 pb-4 pt-3" action="{{ url_for('car-add') }}">
      <button class="btn btn-primary my-0 my-sm-0" type="submit">Přidat vozidlo</button>
    </form>
    {%  if cars %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>SPZ</th>
                <th>Značka</th>
                <th>Model</th>
                <th>Platnost technické kontroly</th>
                <th>Platnost LÄRMES certifikátu</th>
                <th colspan="2">Akce</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádná vozidla.</p>
    {% endif %}
    {% for car in cars %}
        <tr>
            <td>{{car.spz}}</td>
            <td>{{car.znacka}}</td>
            <td>{{car.model}}</td>
            <td></td>
            <td></td>
            <td>
                <form method="GET" action="{{ url_for('car-mod') }}">
                    <input type="hidden" name="id" value="{{ car.id_voz }}">
                    <input type="submit" value="Detail">
                </form>
            </td>
            <td>
                <form method="GET" action="{{ url_for('car-del') }}">
                  <input type="hidden" name="id" value="{{ car.id_voz }}">
                  <input type="submit" value="Smazat">
                </form>
            </td>
        </tr>
    {% endfor %}
    {% if cars %}
        </table>
    {%  endif %}
{% endblock %}