{% extends 'base/base.html' %}
{% from "base/_navhelpers.html" import render_bodytopnav_general %}

{% block title %}Vozidla{% endblock %}
{% block heading %}<i class="fas fa-car pr-3"></i>Vozidla v evidenci{% endblock %}
{% block bodytopnav %}{{ render_bodytopnav_general(current_user,'car-add') }}{% endblock %}
{% block body %}
    {%  if cars %}
        <table class="table table-hover table-sm text-center">
            <thead class="thead-light">
            <tr>
                <th>SPZ</th>
                <th>Značka</th>
                <th>Model</th>
                <th>Rok výroby</th>
                <th>Nosnost</th>
                <th>Emisní třída</th>
                <th colspan="2">Akce</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádná vozidla.</p>
    {% endif %}
    {% for car in cars %}
        <tr>
            <td>{{ car.spz }}</td>
            <td>{{ car.znacka }}</td>
            <td>{{ car.model }}</td>
            <td>{{ car.rok_vyroby }}</td>
            <td>{{ car.nosnost }}</td>
            <td>{{ car.emisni_trida }}</td>
            <td>
                <form method="GET" action="{{ url_for('car-mod') }}">
                    <input type="hidden" name="id" value="{{ car.id_voz }}">
                    <input type="submit" value="Upravit">
                </form>
            </td>
            <td>
                <form method="GET" action="{{ url_for('car-del') }}">
                  <input type="hidden" name="id" value="{{ car.id_voz }}">
                  <input type="submit" value="Smazat">
                </form>
            </td>
        </tr>
    {% endfor %}
    {% if cars %}
        </table>
    {%  endif %}
{% endblock %}