{% extends "base/base.html" %}

{% block title %}Nástěnka {% endblock %}

{% block body %}
    <h3>Vítej, {{ current_user.login }}!</h3>
    <br>
    {% if current_user.is_admin() or current_user.is_boss() %}
        <h4>Aktivity ke schválení:</h4>
        {% if act %}
             <p class="pending">Evidujeme nevyřízené <a href="{{ url_for('activities') }}">>> žádosti o aktivitu <<</a>!</p>
        {% else %}
            <p class="uptodate">Nenašli jsme žádné aktivity vyžadující Vaše schválení.</p>
        {% endif %}
        <h4>Dovolená ke schválení:</h4>
        {% if vac %}
            <p class="pending">Evidujeme nevyřízené <a href="{{ url_for('vacations') }}">>> žádosti o dovolenou <<</a>!</p>
        {% else %}
            <p class="uptodate">Nenašli jsme žádné žádosti o dovolenou vyžadující Vaše schválení.</p>
        {% endif %}
    {% endif %}
    <h4>Upozornění:</h4>
    {% if notif %}
    {% else %}
        <p class="uptodate">Žádné důležité novinky.</p>
    {% endif %}
{% endblock %}
