{% extends "base.html" %}

{% block app_content %}
    <h3>Dovolená k schválení</h3>

    {%  if all %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádné žádosti o dovolenou.</p>
    {% endif %}
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == False %}
        <tr>
            <td>{% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        {{ zamestnanec.kr_jmeno }}
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}</td>
            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('schvalit', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9745; class="approve_button">
                </form>
                <form method="POST" action="{{ url_for('smazat', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="deny_button">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}
<br><br>
    <h3>Schválená dovolená</h3>
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Zrušit</th>
            </tr>
            </thead>
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == True && dovolena.do > datetime.datetime.now()%}
        <tr>
            <td>{% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        {{ zamestnanec.kr_jmeno }}
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}</td>
            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('smazat', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="deny_button">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if employees %}
        </table>
    {%  endif %}
{% endblock %}