{% extends "base.html" %}

{% block app_content %}
    <h3>Dovolená</h3>

    {% if me %}
        <table class="table table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>Datum začátku</th>
            <th>Datum konce</th>
            <th>Potvrzení</th>
        </tr>
        </thead>
    {% else %}
        <p>Neevidujeme žádné záznamy dovolené.</p>
    {% endif %}
{% if me %}
    {% for dovolena in me %}
        <tr>
            <td>{{ dovolena.od }}</td>
            <td>{{ dovolena.do }}</td>
            <td>{% if dovolena.potvrzeni == True %}
            Áno
            {%  else %}
            Ne
            {% endif %}</td>
        </tr>
    {% endfor %}

    </table>
{% endif %}
    <form method="GET" action="{{ url_for('pridat', entity= 'dovolena_zaznam') }}">
        <input type="submit" value="Přidat">
    </form>
{% endblock %}