{% extends "base.html" %}

{% block app_content %}
    <h3>Dovolená</h3>

    {%  if all %}
        <table class="table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádné žádosti o dovolenou.</p>
    {% endif %}
    {% for dovolena in all %}
        <tr>
            <td>{% set zamest= get_obj_by_id(Zamestnanec,id)%}{{ zamest.kr_jmeno }}</td>
            <td>{{dovolena.vycerpano}}</td>
            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="GET" action="{{ url_for('upravit', entity='zamestnanci', id = dovolena.id_zam) }}">
                  <input type="submit" value="Detail">
                </form>
                <form method="GET" action="{{ url_for('smazat',entity='zamestnanci', id = dovolena.id_zam) }}">
                  <input type="submit" value="Smazat">
                </form>
            </td>
        </tr>
    {% endfor %}
    {% if employees %}
        </table>
    {%  endif %}
{% endblock %}