{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('.static', filename='jqwidgets/styles/jqx.base.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{url_for('.static', filename='jqwidgets/styles/jqx.darkblue.css')}}" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css" rel="stylesheet">
<!-- add the jQuery script -->
    <script type="text/javascript" src="{{url_for('.static', filename='scripts/jquery-1.12.4.min.js')}}"></script>
    <!-- add the jQWidgets framework -->
    <script type="text/javascript" src="{{url_for('.static', filename='jqwidgets/jqxcore.js')}}"></script>
    <script type="text/javascript" src="{{url_for('.static', filename='jqwidgets/jqx-all.js')}}"></script>
{% endblock %}

{% block app_content %}

    <!-- add the jQWidgets framework -->
    <h3>Evidence dovolených</h3>

    {%  if all %}
        <!--
        <table class="centertable table table-hover table-sm center">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
            -->
    {% else %}
        <p>Neevidujeme žádné žádosti o dovolenou.</p>
    {% endif %}
    <!--
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == False %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}
            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('schvalit', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9745; class="btn approve_button">
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('smazat', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="btn deny_button">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}
<br><br>
    <h3>Schválená nadcházející dovolená</h3>
        <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Zrušit</th>
            </tr>
            </thead>
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == True and dovolena.do > date %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}

            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('smazat', entity='dovolena_zaznam', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="btn deny_button">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
        </table>


    <br><br>
    <a class="btn btn-secondary" href="{{ url_for('show_vsetkydovolene',entity='dovolena_zaznam') }}">Přejít na historii</a>
    <br><br>-->
    <script type="text/javascript">
        $(document).ready(function () {
            var vacations = new Array();

            {% for dovolena in all %}
                {% if dovolena.do > date %}
                    {% for zamestnanec in empl %}
                        {% if zamestnanec.id_zam == dovolena.id_zam %}
                            var {{zamestnanec.prijmeni}}{{ dovolena.id_zaznamu }} =
                            {
                                id: "{{zamestnanec.prijmeni}}{{ dovolena.id_zaznamu }}",
                                description: "",
                                location: "",
                                subject: "{{ zamestnanec.kr_jmeno }} {{ zamestnanec.prijmeni }}",
                                {% if dovolena.potvrzeni == true %}
                                    calendar: "Schváleno",
                                {% else %}
                                    calendar: "Čeká na schválení",
                                {% endif %}
                                    start: new Date({{ dovolena.od.year }}, {{ dovolena.od.month - 1 }}, {{ dovolena.od.day }}, 0, 0, 0),
                                    end: new Date({{ dovolena.do.year }}, {{ dovolena.do.month - 1 }}, {{ dovolena.do.day }}, 0, 0, 0)
                            }
                            vacations.push({{zamestnanec.prijmeni}}{{ dovolena.id_zaznamu }});
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}

            // prepare the data
            var source =
            {
                dataType: "array",
                dataFields: [
                    { name: 'id', type: 'string' },
                    { name: 'description', type: 'string' },
                    { name: 'location', type: 'string' },
                    { name: 'subject', type: 'string' },
                    { name: 'calendar', type: 'string' },
                    { name: 'start', type: 'date' },
                    { name: 'end', type: 'date' }
                ],
                id: 'id',
                localData: vacations
            };

            var adapter = new $.jqx.dataAdapter(source);
            $("#scheduler").jqxScheduler({
                date: new $.jqx.date({{ date.year }}, {{ date.month }}, {{ date.day }}),
                width: 800,
                height: 600,
                source: adapter,
                view: 'monthView',
                showLegend: true,
                localization: {
                    // separator of parts of a date (e.g. '/' in 11/05/1955)
                    '/': ".",
                    // separator of parts of a time (e.g. ':' in 05:44 PM)
                    ':': ":",
                    // the first day of the week (0 = Sunday, 1 = Monday, etc)
                    firstDay: 1,
                    days: {
                        // full day names
                        names: ["Neděle", "Pondělí", "Úterý", "Středa", "Čtvrtek", "Pátek", "Sobota"],
                        // abbreviated day names
                        namesAbbr: ["Ne", "Po", "Út", "St", "Čt", "Pá", "So"],
                        // shortest day names
                        namesShort: ["Ne", "Po", "Út", "St", "Čt", "Pá", "So"]
                    },
                    months: {
                        // full month names (13 months for lunar calendards -- 13th month should be "" if not lunar)
                        names: ["Leden", "Únor", "Březen", "Duben", "Květen", "Červen", "Červenec", "Srpen", "Září", "Říjen", "Listopad", "Prosinec", ""],
                        // abbreviated month names
                        namesAbbr: ["Led", "Únor", "Břez", "Dub", "Kvě", "Červ", "Červc", "Srpen", "Září", "Říj", "List", "Pros", ""]
                    },
                                        AM: ["AM", "am", "AM"],
                        PM: ["PM", "pm", "PM"],
                        eras: [
                        // eras in reverse chronological order.
                        // name: the name of the era in this culture (e.g. A.D., C.E.)
                        // start: when the era starts in ticks (gregorian, gmt), null if it is the earliest supported era.
                        // offset: offset in years from gregorian calendar
                        { "name": "A.D.", "start": null, "offset": 0 }
                        ],
                        twoDigitYearMax: 2029,
                        patterns: {
                            // short date pattern
                            d: "M/d/yyyy",
                            // long date pattern
                            D: "dddd, MMMM dd, yyyy",
                            // short time pattern
                            t: "h:mm tt",
                            // long time pattern
                            T: "h:mm:ss tt",
                            // long date, short time pattern
                            f: "dddd, MMMM dd, yyyy h:mm tt",
                            // long date, long time pattern
                            F: "dddd, MMMM dd, yyyy h:mm:ss tt",
                            // month/day pattern
                            M: "MMMM dd",
                            // month/year pattern
                            Y: "yyyy MMMM",
                            // S is a sortable format that does not vary by culture
                            S: "yyyy\u0027-\u0027MM\u0027-\u0027dd\u0027T\u0027HH\u0027:\u0027mm\u0027:\u0027ss",
                            // formatting of dates in MySQL DataBases
                            ISO: "yyyy-MM-dd hh:mm:ss",
                            ISO2: "yyyy-MM-dd HH:mm:ss",
                            d1: "dd.MM.yyyy",
                            d2: "dd-MM-yyyy",
                            d3: "dd-MMMM-yyyy",
                            d4: "dd-MM-yy",
                            d5: "H:mm",
                            d6: "HH:mm",
                            d7: "HH:mm tt",
                            d8: "dd/MMMM/yyyy",
                            d9: "MMMM-dd",
                            d10: "MM-dd",
                            d11: "MM-dd-yyyy"
                        },
                        backString: "Předchozí",
                        forwardString: "Další",
                        toolBarPreviousButtonString: "Předchozí",
                        toolBarNextButtonString: "Další",
                        loadString: "Nahrávání...",
                        clearString: "Smazat",
                        todayString: "Dnes",
                        dayViewString: "den",
                        weekViewString: "týden",
                        monthViewString: "měsíc",
                        loadingErrorMessage: "Chyba načítání dat...",
                        editDialogTitleString: "Detail termínu dovolené",
                        editDialogCreateTitleString: "Vytvořit novou dovolenou",
                        contextMenuEditAppointmentString: "Úprava dovolené",
                        contextMenuCreateAppointmentString: "Vytvořit novou dovolenou",

                        editDialogResourceIdString: "Stav",
                        editDialogSubjectString: "Jméno",
                        editDialogLocationString: "Místo",
                        editDialogFromString: "Od",
                        editDialogToString: "Do",
                        editDialogAllDayString: "Celodenní",
                        editDialogDescriptionString: "Komentář",
                        editDialogSaveString: "Uložit změny",
                        editDialogDeleteString: "Smazat",
                        editDialogCancelString: "Zrušit",

                },

                 editDialogCreate: function (dialog, fields) {
                     // hide repeat option
                     fields.repeatContainer.hide();
                     // hide status option
                     fields.statusContainer.hide();
                     // hide timeZone option
                     fields.timeZoneContainer.hide();
                     // hide color option
                     fields.colorContainer.hide();
                     fields.allDayContainer.hide();
                     //fields.resourceContainer.hide();
                     fields.locationContainer.hide();
                 },
                editDialogClose: function (dialog, fields, editAppointment) {
                },
                editDialogKeyDown: function (dialog, fields, editAppointment, event) {
                    return true;
                },
                editDialogOpen: function (dialog, fields, editAppointment) {
                    return true;
                    //if (!editAppointment && printButton) {
                    //    printButton.jqxButton({ disabled: true });
                    //}
                    //else if (editAppointment && printButton) {
                    //    printButton.jqxButton({ disabled: false });
                    //}
                },
                //ready: function () {
                //    $("#scheduler").jqxScheduler('ensureAppointmentVisible', 'id1');
                //},
                resources:
                {
                    colorScheme: "scheme02",
                    dataField: "calendar",
                    source:  new $.jqx.dataAdapter(source)
                },
                appointmentDataFields:
                {
                    from: "start",
                    to: "end",
                    id: "id",
                    description: "description",
                    location: "place",
                    subject: "subject",
                    resourceId: "calendar"
                },
                views:
                [
                    { type: 'monthView', showWeekNumbers: true }
                ]
            });
            $("#scheduler").on('appointmentChange', function (event) {
                    var args = event.args;
                    var appointment = args.appointment;
                    // appointment fields
                    // originalData - the bound data.
                    // from - jqxDate object which returns when appointment starts.
                    // to - jqxDate objet which returns when appointment ends.
                    // status - String which returns the appointment's status("busy", "tentative", "outOfOffice", "free", "").
                    // resourceId - String which returns the appointment's resouzeId
                    // hidden - Boolean which returns whether the appointment is visible.
                    // allDay - Boolean which returns whether the appointment is allDay Appointment.
                    // resiable - Boolean which returns whether the appointment is resiable Appointment.
                    // draggable - Boolean which returns whether the appointment is resiable Appointment.
                    // id - String or Number which returns the appointment's ID.
                    // subject - String which returns the appointment's subject.
                    // location - String which returns the appointment's location.
                    // description - String which returns the appointment's description.
                    // tooltip - String which returns the appointment's tooltip.
            });
        });
    </script>

    <div id="scheduler"></div>
    <div id="log"></div>
{% endblock %}