{% extends "base.html" %}

{% block app_content %}

            <h3>Plánovaná dovolená</h3>

    {% if me %}
        <table class="table table-stripped table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Datum začátku</th>
            <th>Datum konce</th>
            <th>Celkem dní</th>
            <th>Potvrzení</th>
        </tr>
        </thead>
    {% else %}
        <p>Neevidujeme žádné záznamy dovolené.</p>
    {% endif %}
{% if me %}
    {% for dovolena in me %}
        {% if dovolena.do > date %}
        <tr>
            <td>{{ dovolena.od }}</td>
            <td>{{ dovolena.do }}</td>
            <td>{{ dovolena.celkem }}</td>
            <td>{% if dovolena.potvrzeni == True %}
            Ano
            {%  else %}
            Ne
            {% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}

    </table>
{% endif %}

     <h3>Historie dovolené</h3>

    {% if me %}
        <table class="centertable table table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>Datum začátku</th>
            <th>Datum konce</th>
            <th>Celkem dní</th>
            <th>Potvrzení</th>
        </tr>
        </thead>
    {% else %}
        <p>Neevidujeme žádné záznamy dovolené.</p>
    {% endif %}
{% if me %}
    {% for dovolena in me %}
        {% if dovolena.do < date%}
        <tr>
            <td>{{ dovolena.od }}</td>
            <td>{{ dovolena.do }}</td>
            <td>{{ dovolena.celkem }}</td>
            <td>{% if dovolena.potvrzeni == True %}
            Ano
            {%  else %}
            Ne
            {% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}

    </table>
{% endif %}

    <form method="GET" action="{{ url_for('pridat_ziadost', entity= 'dovolena_zaznam') }}">
                <input type="submit" class="btn-primary btn" value="Zadat dovolenou">
            </form>
{% endblock %}