{% extends "base/base.html" %}
{% from "base/_formhelpers.html" import render_field %}
<!-- input: employee, form-->
{% block title %}Zaměstnanci{% endblock %}
{% block body %}

    {% if employee %}
        <h3>Úprava zaměstnance: {{ employee.kr_jmeno }} {{ employee.prijmeni }}</h3>
    {% else %}
        <h3>Přidat zaměstnance</h3>
    {% endif %}

    <form class="form-inline my-2 my-lg-0 pb-4 pt-3" action="{{ url_for('employees') }}">
      <button class="btn btn-primary my-0 my-sm-0" type="submit">Zpět na přehled zaměstnanců</button>
    </form>

    {% if employee %}
        <form method="POST" action="{{ url_for('employee-mod') }}">
            <input type="hidden" name="id" value="{{ employee.id_zam }}">
    {% else %}
        <form method="POST" action="{{ url_for('employee-add') }}">
    {% endif %}
        {{ form.csrf_token }}
                <table class="form_table">
                    {% for field in form %}
                        {{ render_field(field,form) }}
                    {% endfor %}
                </table>
            </form>
{% endblock %}