{% extends "base.html" %}

{% block app_content %}
    <h3>Aktivní zaměstnanci</h3>
    <p><a href="{{ url_for('employee-add') }}">Přidat zaměstnance</a></p>
    {%  if empls %}
        <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Platnost lékařské prohlídky</th>
                <th>Platnost profesního školení</th>
                <th colspan="2">Akce</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádné zaměstnance.</p>
    {% endif %}
    {% for employee in empls %}
        <tr>
            <td>{{employee.kr_jmeno}}</td>
            <td>{{employee.prijmeni}}</td>
            <td></td>
            <td></td>
            <td>
                <form method="GET" action="{{ url_for('employee-mod') }}">
                    <input type="hidden" name="id" value="{{ employee.id_zam }}">
                  <input type="submit" value="Detail">
                </form>
            </td>
            <td>
                <form method="GET" action="{{ url_for('employee-del') }}">
                  <input type="hidden" name="id" value="{{ employee.id_zam }}">
                    <input type="submit" value="Smazat">
                </form>
            </td>
        </tr>
    {% endfor %}
    {% if empls %}
        </table>
    {%  endif %}
{% endblock %}