{% extends "base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% block title %}IS - Přihlášení{% endblock %}
{% block app_content %}
        <h1>Přihlášení do systému</h1>
        <!--{% if error %}
            <p class=error><strong>CHYBA:</strong> {{ error }}
        {% endif %}-->
        <form action="" method="post" novalidate>
            {{ form.csrf_token }}
            <table class="form_table">
                {% for field in form %}
                {{ render_field(field,form) }}
            {% endfor %}
            </table>
        <p>Nový uživatel? <a href="{{ url_for('register') }}">Klikněte pro registraci!</a></p>
        </form>
{% endblock %}