{% extends 'base/base.html' %}
<!-- input: me -->
{% block body %}
    <h3>Můj profil</h3>
    <table>
    <tr><td>Křestní jméno: </td><td>{{ me.kr_jmeno }}</td></tr>
    <tr><td>Příjmení: </td><td>{{ me.prijmeni }}</td></tr>
    <tr><td>Datum narození: </td><td>{{ me.dat_nar }}</td></tr>
    <tr><td>Trvalé bydliště: </td><td>{{ me.trv_bydliste }}</td></tr>
    <tr><td>Přechodné bydliště: </td><td>{{ me.prech_bydliste }}</td></tr>
    <tr><td>Telefon :</td><td>{{ me.telefon }}</td></tr>
    <tr><td>E-mail: </td><td>{{ me.email }}</td></tr>
    <tr><td>Číslo pracovní sml. : </td><td>{{ me.prac_sml }}</td></tr>
    </table>
    <br>
    <form method="GET" action="{{ url_for('profile-mod') }}">
    <input type="hidden" name="id_zam" value="{{ current_user.id_zam}}">
                  <input type="submit" value="Upravit profil a přístupové údaje">
    </form>
{% endblock %}