{% extends 'base/base.html' %}
{% from "base/_formhelpers.html" import render_field %}

{% block title %}Můj profil{% endblock %}
{% block body %}

    <h3>Úprava profilu</h3>
    <a href="{{ url_for('profile') }}"><< Zpět na můj profil</a>
    <br><br>
    <form method="POST" action="{{ url_for('profile-mod') }}">
        <input type="hidden" name="id_zam" value="{{ employee.id_zam}}">

    {{ form.csrf_token }}
            <table class="form_table">
                {% for field in form %}
                    {{ render_field(field,form) }}
                {% endfor %}
            </table>
        </form>

    <h3>Úprava přístupových údajů</h3>
        <br>
    <form method="POST" action="{{ url_for('profile-access-mod') }}">
        <input type="hidden" name="id_zam" value="{{ employee.id_zam}}">

    {{ form_accessdata.csrf_token }}
            <table class="form_table">
                {% for field in form_accessdata %}
                    {{ render_field(field,form_accessdata) }}
                {% endfor %}
            </table>
        </form>

{% endblock %}