{% extends "base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% block app_content %}
    <h3>Upravit zaměstnance: {{ employee.kr_jmeno }}&nbsp;{{ employee.prijmeni }}</h3>

    <p><a href="{{ url_for('zamestnanci') }}"><< Zpět na přehled zaměstnanců</a></p>

    <form method="POST" action="/auth/zamestnanci">
        <input type="hidden" value="{{ employee.id_zam }}" name="current_id">
            {{ form.csrf_token }}
            <table>
                {% for field in form %}
                    {{ render_field(field,form) }}
                {% endfor %}
            </table>
    </form>
{% endblock %}