{% extends "base.html" %}

{% block app_content %}
    <h3>Registrovaní uživatelé</h3>
        <p><a href="{{ url_for('pridat_uzivatele') }}">Přidat uživatele</a></p>
        <table class="table table-hover table-sm">
                <thead class="thead-light">
                <tr>
                    <th>Login</th>
                    <th>Počet přihlášení</th>
                    <th>Poslední přihlášení</th>
                    <th>Čas poslední změny</th>
                    <th>Role</th>
                    <th colspan="2">Akce</th>
                </tr>
                </thead>
        {% for user in all %}
            <tr>
                <td>{{user.login}}</td>
                <td>{{user.poc_prihl}}</td>
                <td>{{user.posl_prihl}}</td>
                <td>{{user.cas_posl_zmeny}}</td>
                <td>{{user.role}}</td>
                <td>
                    <form method="GET" action="{{ url_for('upravit_uzivatele', id = user.id) }}">
                      <input type="submit" value="Upravit">
                    </form>
                </td>
                <td>
                    <form method="GET" action="{{ url_for('smazat', entity='uzivatele', id = user.id) }}">
                      <input type="submit" value="Smazat">
                    </form>
                </td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}