{% extends 'base/base.html' %}
{% from "base/_formhelpers.html" import render_field  %}
{% from "base/_navhelpers.html" import render_bodytopnav_specific %}

{% block title %}Uživatelé{% endblock %}
{% block heading %}
    {% if user %}
        <h3><i class="fas fa-user-cog pr-3"></i>Úprava uživatele: <strong>{{ user.login }}</strong></h3>
    {% else %}
        <h3><i class="fas fa-user-plus pr-3"></i>Nový uživatel</h3>
    {% endif %}
{% endblock %}
{% block bodytopnav %}{{ render_bodytopnav_specific('users',"Zpět na přehled uživatelů") }}{% endblock %}
{% block body %}
    {% if user %}
        <form method="POST" action=" {{ url_for('user-mod') }}">
            <input type="hidden" name="id" value="{{ user.id }}">
    {% else %}
        <form method="POST" action="{{ url_for('user-add') }}">
    {% endif %}
    {{ form.csrf_token }}
    <table class="form_table">
        {% if user %}
            <tr>
                <td>Přiřazený zaměstnanec:</td><td><strong>{{ employee.kr_jmeno }} {{ employee.prijmeni }}</strong></td>
            </tr>
            <tr><td>&nbsp;</td></tr>
        {% endif %}
        {% for field in form %}
                    {{ render_field(field,form) }}
            {% endfor %}
            </table>
        </form>
{% endblock %}