{% extends "base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% block app_content %}
    {% if action == 'Úprava uživatele' %}
        <h3>{{ action }}: <strong>{{ object.login }}</strong></h3>
    {% else %}
        <h3>{{ action }}</h3>
    {% endif %}
    <a href="{{ url_for('show_all', entity='uzivatele') }}"><< Zpět na přehled uživatelů</a>
    <br><br>

    {% if action=='Přidat uživatele' %}
        <form method="POST" action="{{ url_for('pridat_uzivatele', entity='uzivatele') }}">
    {% else %}
        <form method="POST" action="{{ url_for('upravit_uzivatele', entity='uzivatele', id=object.id) }}">
    {% endif %}
    {{ form.csrf_token }}
    <table class="form_table">
        {% for field in form %}
                    {{ render_field(field,form) }}
            {% endfor %}
            </table>
        </form>
{% endblock %}