{% extends 'base/base.html' %}
{% from "base/_navhelpers.html" import render_back_to_dashboard %}

{% block title %}Dovolená{% endblock %}
{% block heading %}Dovolená{% endblock %}
{% block bodytopnav %}{{ render_back_to_dashboard(current_user) }}{% endblock %}
{% block body %}
    {% set glob={} %}
    {% set _ = glob.update({'kschvaleni':False}) %}
    {% set _ = glob.update({'schvalena':False}) %}
    {%  if all %}
        {% for dovolena in all %}
            {% if dovolena.potvrzeni == False and dovolena.seen == False%}
                {% set _ = glob.update({'kschvaleni':True}) %}
            {% endif %}
            {% if dovolena.potvrzeni == True and dovolena.do > date %}
                {% set _ = glob.update({'schvalena':True}) %}
            {% endif %}
        {% endfor %}
    {% endif %}
    <h4><i class="far fa-calendar-alt pr-3"></i>Ke schválení</h4>
    {%  if glob['kschvaleni'] %}
        <table class="centertable table table-hover table-sm center">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th colspan="2">Potvrzení</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádné žádosti o dovolenou.</p>
    {% endif %}
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == False and dovolena.seen == False %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}
            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('vac_approve', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9745; class="btn approve_button" data-toggle="tooltip" data-html="true" title="Potvrdit">
                </form>
            </td>
            <td>
                <form method="POST" action="{{ url_for('vac_decline', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="btn deny_button" data-toggle="tooltip" data-html="true" title="Zamítnout">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
    {% if glob['kschvaleni'] %}
        </table>
    {%  endif %}
    <h4><i class="far fa-calendar-check pr-3"></i>Již schválená:</h4>
    {% if glob['schvalena'] %}
        <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Zrušit</th>
            </tr>
            </thead>
         {% else %}
        <p>Neevidujeme žádné již schválené dovolené.</p>
        {% endif %}
    {% for dovolena in all %}
        {% if dovolena.potvrzeni == True and dovolena.do > date %}
        <tr>
            {% for zamestnanec in empl %}
                    {% if zamestnanec.id_zam == dovolena.id_zam %}
                        <td>{{ zamestnanec.kr_jmeno }}</td>
                        <td>{{zamestnanec.prijmeni}}</td>
                    {% endif %}
                {% endfor %}

            <td>{{dovolena.od}}</td>
            <td>{{dovolena.do}}</td>
            <td>{{dovolena.celkem}}</td>
            <td>
                <form method="POST" action="{{ url_for('vac_decline', id = dovolena.id_zaznamu) }}">
                  <input type="submit" value=&#9746; class="btn deny_button" data-toggle="tooltip" data-html="true" title="Zamítnout">
                </form>
            </td>
        </tr>
        {% endif %}
    {% endfor %}
        </table>
    <a class="btn btn-secondary mb-3 mt-3 " href="{{ url_for('vacations_hist') }}">Přejít na historii</a>
    </div>
{% endblock %}

