{% extends 'base/base.html' %}
<!--input: empl, me, check, date -->
{% block title %}Dovolená{% endblock %}
{% block body %}
    <h2>{{ empl.kr_jmeno}} {{  empl.prijmeni  }}</h2>
    {% if check %}
    <h3>Nejbližší dovolené</h3>


        <table class="centertable table table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>Datum začátku</th>
            <th>Datum konce</th>
            <th>Celkem dní</th>
            <th>Potvrzení</th>
        </tr>
        </thead>
    {% for dovolena in me %}
        {% if dovolena.do > date %}
        <tr>
            <td>{{ dovolena.od }}</td>
            <td>{{ dovolena.do }}</td>
            <td>{{ dovolena.celkem }}</td>
            <td>{% if dovolena.potvrzeni == True %}
            Áno
            {%  else %}
            Ne
            {% endif %}</td>
        </tr>
        {% endif %}
    {% endfor %}

    </table>
{% endif %}

     <h3>Historie dovolené</h3>

    {% if check %}
        <table class="centertable table table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th>Datum začátku</th>
            <th>Datum konce</th>
            <th>Celkem</th>
        </tr>
        </thead>
    {% else %}
        <p>Neevidujeme žádné záznamy dovolené.</p>
    {% endif %}
{% if me %}
    {% for dovolena in me %}
        {% if dovolena.do < date and dovolena.potvrzeni == True %}
        <tr>
            <td>{{ dovolena.od }}</td>
            <td>{{ dovolena.do }}</td>
            <td>{{ dovolena.celkem }}</td>
        </tr>
        {% endif %}
    {% endfor %}

    </table>
{% endif %}
     <p><a class="btn btn-secondary" href="{{ url_for('vacations_hist') }}">Zpět</a></p>

{% endblock %}