{% extends 'base/base.html' %}

{% block body %}
    <h3>Dovolená historie</h3>
    {%  if empl %}
        <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Křestní jméno</th>
                <th>Příjmení</th>
                <th colspan="2">Akce</th>
            </tr>
            </thead>
    {% else %}
        <p>Neevidujeme žádné zaznamy o historii.</p>
    {% endif %}
    {% for empls in empl %}
        <tr>
            <td>{{empls.kr_jmeno}}</td>
            <td>{{empls.prijmeni}}</td>
            <td class="centertable">
                <form method="get" action="{{ url_for('vacations_hist_one')}}">
                     <input type="hidden" name="id" value="{{ empls.id_zam}}">
                  <input type="submit" value="Detail" >
                </form>
            </td>
        </tr>
    {% endfor %}
    {% if all %}
        </table>
    {%  endif %}
    <p><a class="btn btn-secondary" href="{{ url_for('vacations') }}">Zpět</a></p>

{% endblock %}