{% extends 'base/base.html' %}
{% from "base/_navhelpers.html" import render_bodytopnav_general %}
<!-- input: me, all -->

{% block title %}Dovolená{% endblock %}
{% block heading %}<h3><i class="far fa-calendar-alt mr-4"></i>Žádosti o dovolenou</h3>{% endblock %}
{% block bodytopnav %}
    <div class="col-11 text-lg-left">
        <form class="form-inline my-2 my-lg-0 pb-4 pt-3" action="{{ url_for('dashboard-empl') }}">
          <button class="btn btn-primary my-0 my-sm-0" type="submit">Zpět na nástěnku</button>
        </form>
    </div>
    <div class="col-1">
        <form class="form-inline my-2 my-lg-0" method="GET" action="{{ url_for('vacation-add') }}">
          <button class="btn btn-primary my-0 my-sm-0 pl-3 pr-3" type="submit">
              <input type="hidden" name="id" value="{{ current_user.id_zam}}">
              <span class="add-icon"><i class="fas fa-plus" aria-hidden="true"></i></span></button>
        </form>
    </div>
{% endblock %}

{% block body %}
    {% set glob={} %}
    {% set _ = glob.update({'zadosti':False}) %}
    {% set _ = glob.update({'schvalena':False}) %}
    {%  if me %}
        {% for dovolena in me %}
            {% if dovolena.do > date  or dovolena.potvrzeni== False%}
                {% set _ = glob.update({'zadosti':True}) %}
            {% endif %}
            {% if dovolena.do < date and dovolena.potvrzeni == True%}
                {% set _ = glob.update({'schvalena':True}) %}
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="row pt-3">
        {% if glob['zadosti'] %}
            <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Potvrzení</th>
                <th>Smazat</th>
            </tr>
            </thead>
        {% else %}
            <p class = "pb-4 pt-3 ">Neevidujeme žádné záznamy dovolené.</p>
        {% endif %}
        {% if me %}
            {% for dovolena in me %}
                {% if dovolena.do > date  or dovolena.potvrzeni== False%}
                <tr>
                    <td>{{ dovolena.od.strftime('%d/%m/%Y') }}</td>
                    <td>{{ dovolena.do.strftime('%d/%m/%Y') }}</td>
                    <td>{{ dovolena.celkem }}</td>
                    <td>{% if dovolena.potvrzeni == True %}
                    Áno
                        {%  elif dovolena.seen== False %}
                        Neviděné
                    {%  else %}
                    Ne
                    {% endif %}</td>
                <td> <form method="POST" action="{{ url_for('my_vacation_delete', id=current_user.id_zam, id_vac=dovolena.id_zaznamu) }}">
                          <input type="submit" value=&#x2718; class="btn deny_button" data-toggle="tooltip" data-html="true" title="Smazat">
                        </form></td>
                </tr>
                {% endif %}
            {% endfor %}

            </table>
        {% endif %}
    </div>
    <div class="row pl-3">
         <h3><i class="fas fa-history pr-3 pt-3"></i>Historie dovolené</h3>
    </div>
    <div class="row pl-3">
        {% if glob['schvalena'] %}
            <table class="centertable table table-hover table-sm">
            <thead class="thead-light">
            <tr>
                <th>Datum začátku</th>
                <th>Datum konce</th>
                <th>Celkem dní</th>
                <th>Potvrzení</th>
            </tr>
            </thead>
        {% else %}
            <p class = "pb-4 pt-3 ">Neevidujeme žádné záznamy dovolené.</p>
        {% endif %}
    {% if me %}
        {% for dovolena in me %}
            {% if dovolena.do < date and dovolena.potvrzeni == True%}
            <tr>
                <td>{{ dovolena.od.strftime('%d/%m/%Y') }}</td>
                <td>{{ dovolena.do.strftime('%d/%m/%Y') }}</td>
                <td>{{ dovolena.celkem }}</td>
                <td>{% if dovolena.potvrzeni == True %}
                Áno
                {%  else %}
                Ne
                {% endif %}</td>
            </tr>
            {% endif %}
        {% endfor %}

        </table>
    {% endif %}
    </div>
{% endblock %}