{% extends "base.html" %}
{% from "_formhelpers.html" import render_field  %}

{% block app_content %}
    <h3>{{ action }} {{ name }}</h3>
        <a href="{{ url_for('zamestnanci') }}"><< Zpět na přehled zaměstnanců</a>
    <br><br>

    {% if action=='Přidat zaměstnance'%}
    <form method="POST" action="{{ url_for('pridat',entity='zamestnanci') }}">
    {% else %}
    <form method="POST" action="{{ url_for('upravit',entity='zamestnanci', id=object.id_zam) }}">
    {% endif %}
        {{ form.csrf_token }}
        <table class="form_table">
        {% for field in form %}
                {{ render_field(field,form) }}
        {% endfor %}
        </table>
    </form>
{% endblock %}