{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}

{% block app_content %}
    {% if action == 'Úprava zaměstnance' %}
        <h3>{{ action }}: {{ object.kr_jmeno }} {{ object.prijmeni }}</h3>
    {% else %}
        <h3>Přidat zaměstnance</h3>
    {% endif %}

    {% if action != 'upravit_mne' %}
        <a href="{{ url_for('show_all', entity='zamestnanci') }}"><< Zpět na přehled zaměstnanců</a>
    {% endif %}
    <br><br>

    {% if action=='Přidat zaměstnance' %}
        <form method="POST" action="{{ url_for('pridat',entity='zamestnanci') }}">
    {% elif action== 'upravit_mne' %}
        <form method="POST" action="{{ url_for('upravit_mne',entity='zamestnanci', id=current_user.id) }}">
    {% else %}
        <form method="POST" action="{{ url_for('upravit',entity='zamestnanci', id=object.id_zam) }}">
    {% endif %}
    {{ form.csrf_token }}
            <table class="form_table">
                {% for field in form %}
                    {{ render_field(field,form) }}
                {% endfor %}
            </table>
        </form>
{% endblock %}